:root {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 525px;
    align-items: center;
    justify-content: center;
}

.calculator {
    flex-basis: 95%;
}

.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41, 41, 56);
    color: white;
    border: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex-basis: 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
}

button:hover {
    background: lightblue;
}

.yellow {
    background: rgb(245, 146, 62);
    color: white;
}

.btn-grey {
    background: rgb(224, 224, 224);
}

.btn,
.btn-equal,
.btn-clear {
    font-size: 4rem;
}